* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    background-image: url("../img/bg1.png");
    background-position: center;
    background-size: cover;
}

.header .container {
    padding: 35px 0 35px 0;
}

.header {
    border-bottom: 2px solid #ac9cc7a1;
}

.it-logo {
    margin-right: 281px;
}

.menu {
    display: inline-block;
}

.menu-item {
    display: inline-block;
    margin-right: 50px;
}

.menu-item a {
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    color: rgb(237, 224, 248);
}

.white-line {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.171);
}

.makeup {
    padding: 150px 0 200px 0;
}

.makeup-h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    max-width: 452px;
}

.makeup-block {
    margin: 80px 0 99px 0;
}

.star-logo {
    vertical-align: bottom;
    margin-right: 15px;
}

.makeup-text {
    font-size: 16px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
}

.button {
    width: 224px;
    padding: 20px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    border: 2px solid white;
}

.study {
    padding: 140px 0 140px 0;
}

.study-h2 {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    margin-bottom: 68px;
}

.study-item {
    list-style: none;
    margin-bottom: 15px;
}

.study-text {
    font-size: 16px;
    color: rgb(49, 27, 94);
    line-height: 1.5;
}

.third-section {
    background-image: url("../img/bg2.png");
    background-position: center;
    background-size: cover;
    padding: 140px 0 0 0;
}

.third-white-block {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 996px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 44px 0;
    margin-bottom: 140px;
}

.third-h2 {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    margin-bottom: 40px;
}

.third-p {
    font-size: 16px;
    color: rgb(49, 27, 94);
    line-height: 1.5;
    text-align: center;
    max-width: 552px;
    margin: 0 auto;
}

.third-p-up {
    margin-bottom: 30px;
    max-width: 588px;
}

#author {
    font-weight: bold;
}

.third-white-block .button {
    color: rgb(139, 103, 214);
    border: 2px solid rgb(139, 103, 214);
    margin-top: 40px;
}

.footer {
    padding: 40px 0 40px 0;
    text-align: center;
    border-top: 2px solid #ac9cc760;
}

.footer .it-logo {
    margin-right: 0;
}